- provide(:title, 'gists')

h1 = 'gists'

/ .buffer-both
/   = link_to I18n.t('views.create_event'), new_event_path, class: 'btn btn-success'

/ .buffer-both
/   = link_to 'Прошедшие события', past_events_path, method: :get, class: 'btn btn-primary'
/   '
/   = link_to 'Все', all_events_path, method: :get, class: 'btn btn-primary'
/   '
/   = link_to 'Будущие события', root_path, class: 'btn btn-primary'

/   p = will_paginate

.row.buffer-bottom
  = render partial: 'gists/gist', collection: @gists

/ .buffer-both
  = will_paginate
